@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");

:root {
  --header-height: 3.5rem;

  --first-color: hsl(353, 98%, 67%);
  --first-color-alt: hsl(353, 50%, 47%);
  --gradient-color: linear-gradient(90deg, var(--first-color),var(--first-color-alt));
  --black-color: hsl(353, 90%, 16%);

  --body-font: "Montserrat Alternates", sans-serif;
  --biggest-font-size: 2.5rem;
  --normal-font-size: .938rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

